@use "src/index" as index;


$height : 200vh;

.Announcement {
    @include index.center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    // will-change: height;
    padding-top: 15vh;
    min-height: $height;
    height: fit-content;
    padding-bottom: 10vh;

    &::before {
        filter: brightness(0.5) invert(0.7) hue-rotate(45deg);
        background-image: url('./../../../Asset/Image/Background/Homebg.webp');
        background-size: cover;
        background-position: center;
        background-attachment: local;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: index.$black;
    }

    .Title {
        margin: 0;
        z-index: 1;
        font-family: index.$font;
        color: index.$yellow;
        text-shadow: index.$text-shadow;
        font-size: 60px !important;
    }
}

.Content {
    z-index: 1;
    height: fit-content;
    min-height: 100vh;
    min-width: max-content;
    width: 50vw;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    .iframe {
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $height;
        min-height: fit-content;
        width: 100%;
        border: none;
        transform: scale(0.5);
    }

    @media screen and (max-width: 768px) {
        height: 300px;
        width: 300px;

    }

}