@use "src/index" as index;

.DivisionMenuDetail {
    font-size: 30px;
    padding: 30px;

    h1 {
        font-size: 40px;
        font-weight: bolder;
        color: #000;
        background-color: aqua;

    }
}

.DivisionMenu {
    .TableRow {
        background-color: aqua;
    }
}

.Modal {
    // @include orangegrad();
    background-color: white;
    height: 400px !important;
    width: 250px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none !important;
    position: absolute;
    border-radius: 40px;
    padding: 30px;
    padding: 40px;
    opacity: 1 !important;
    width: 60vw !important;
    overflow-y: scroll;

    .Name {
        font-family: index.$font2;
        background-color: #bdbdbd;
        padding: 10px;
        font-size: 20px;
    }
}