// @use "src/index.scss" as index;

// #WelcomeAnimate {
//     @include index.center;
//     position: relative;
//     height: 200px;
//     // border: 10px solid black;

//     .mv-svg-title {
//         bottom: -350px;
//         // @include index.animatesvg;

//         @media screen and (max-width: index.$md) {
//             bottom: -250px !important;
//         }
//     }

// }