.video-responsive {
  overflow: hidden;
  position: relative;
  z-index: 8;

  .video-responsive-item {
    height: 300px;
    width: 400px;
    border-radius: 40px;
    border: 10px solid brown;
  }
}