@use "src/index" as index;

.Division {
  @include index.center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  will-change: height;
  height: 100vh;
  padding-bottom: 10vh;

  &::before {
    background-image: url('./../../../Asset/Image/Background/Homebg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: local;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: index.$black;
  }


  h1 {
    z-index: index.$z-index-2;
    font-family: index.$font;
    font-size: 50px;
    font-weight: bolder;
    color: index.$yellow;
    text-shadow: index.$text-shadow;
    margin-bottom: 60px;
  }
}