@use "src/index" as index;

$title-font-size: 30px;
$font-size: 20px;
$margin-start: 20px;

.Footer-Wrapper {
  @include index.prevent-select;
  overflow: hidden;
}

#Footer {
  @include index.prevent-select;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  background: rgb(178, 138, 103);
  background: -moz-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
  background: linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
  z-index: index.$z-index-2;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient(
                  startColorstr="#b28a67",
                  endColorstr="#926445",
                  GradientType=1
  );

  .title {
    @include index.prevent-select;
    color: index.$yellow;
    font-family: index.$font;
    font-weight: bolder;
    font-size: $title-font-size;
    margin: 10px;
    margin-inline-start: $margin-start;
    height: 40px;
  }

  .Footer-Section {
    @include index.prevent-select;
    width: 100%;
    color: index.$white;
    text-align: left;
    overflow: visible;

    .Logo-Wrap {
      @include index.center;
      overflow: hidden;

      .UFEST-LOGO {
        @include index.center;
        background-color: rgb(255, 0, 0, 0);
        transform: scale(1.2);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        pointer-events: none;
      }
    }


    .address {
      margin: 0 0 0 $margin-start;
      font-family: index.$font2;
      font-size: $font-size;
      line-height: 25px;

      @media screen and (max-width: index.$sm) {
        line-height: 20px;
        font-size: 13px;
      }
    }

  }

  .Footer-Foot {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    @include index.prevent-select;
    text-align: center;
    color: rgba(219, 219, 219, 1);
    background: rgb(71, 33, 33);
    background: -moz-linear-gradient(0deg, rgba(71, 33, 33, 1) 0%, rgba(82, 56, 38, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(71, 33, 33, 1) 0%, rgba(82, 56, 38, 1) 100%);
    background: linear-gradient(0deg, rgba(71, 33, 33, 1) 0%, rgba(82, 56, 38, 1) 100%);
    font-family: index.$font2;
    font-size: 15px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(
                    startColorstr="#472121",
                    endColorstr="#523826",
                    GradientType=1
    );

    .purpleText {
      color: yellow;
      font-family: index.$font2;
    }

    @media screen and (max-width: index.$sm) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}


.Footer-Link-Card {
  @include index.prevent-select;
  @include index.center;
  margin-left: 15px;
  position: relative;
  border-radius: 50%;
  background-color: index.$white;
  width: 45px;
  height: 45px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
  pointer-events: all;
  transition: 0.9s;

  .Card-Image {
    transition: 0.4s;
    width: 25px;
    height: 25px;
    z-index: 2;
  }

  .Footer-Link-bg {
    opacity: 0;
    position: absolute;
    z-index: 1;
  }

  &:hover {
    box-shadow: inset 0 5px 4px rgba(0, 0, 0, .5);

    .Footer-Link-bg {
      opacity: 1;
    }
  }

}