@use "src/index" as index;

#Register {
  @include index.background("./../../../Asset/Image/Background/Homebg.webp");
  @include index.center;
  background-attachment: local;
  height: 120%;
  min-height: 100vh;
  overflow: hidden;

  .form {
    @include index.form-layout("./../../../Asset/Image/OtherIcon/paperfull.webp");

    @media screen and (max-width: index.$sm) {
      height: auto;
      width: 70%;
      margin: 0;
      padding: 10px;
    }

    .Title {
      @include index.prevent-select;
      font-weight: bold;
      font-size: 50px;
      color: index.$yellow;
      display: block;
      margin: 20px 0 0;
      font-family: index.$font;

      @media screen and (max-width: index.$sm) {
        font-size: 36px;
      }
    }

    .Purple {
      color: #c2b908 !important;
    }
  }

}