@use "src/index" as index;
  //ngilangin arrow up down input type number
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.preulympic-req-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../../../Asset/Image/Background/PageUlympic.jpg");
  background-size: cover;
}

.preulympic-req-page {
  position: absolute;
  width: 70%; //lebar
  height: 80%;
  max-width: 80%;
  background-color: #fff4ee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center; 
  background-repeat: no-repeat;
  font-family: Louis George Cafe;
  color: #903504;
  border-radius: 20px;
  opacity: 85%;

  .preulympic-req-logo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-image: url("./../../../Asset/Image/Ufest Logo/ufestlogocolor.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vh;
    height: 20vh;
    opacity: 0.5;

    @media (max-width: 1280px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 10px;
      margin-top: 20px;
      opacity: 1;
    }
  }

  .preulympic-req-group {
    margin-bottom: 1rem;
    text-align: left;
    padding: 50px;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 2em;
      text-align: left;
    }

    input {
      display: block;
      width: 30%;
      padding: 0.5rem;
      outline: 0;
      border: 0;
      background: transparent;
      border-bottom: 1px solid #CC5819;
      font-size: 2em;

      &:focus {
        outline: none;
        border-color: #CC5819;
      }

      &::placeholder {
        color: #ccc;
        opacity: 1;
      }
    }

    .preulympic-req-error-message {
      color: red;
      margin-top: 0.5rem;
    }

    @media (max-width: 768px) {
      padding: 15px;
      label{
        font-size: 15px;
        height: 10px;
        margin-top: 30px;
      }

      input {
        font-size: 15px;
        margin-top: 10px;
        width: 60%;
      }
    }
  }
}

button{
  padding: 0.5rem 1rem;
  border: none;
  background-color: #CC581A;
  color: #fff;
  margin-top: 1rem;
  width: 14%;
  height: 10%;
  border-radius: 20px;
  margin-right: 2em;
  margin-left: auto;
  font-size: 30px;
  font-family: Rocket-Vintage;
  background-color: #e0895a;
  border: 2px solid #ffffff;
  transition: background 0.3s ease;

  &:hover {
    background: #CC5819;
    box-shadow: 0 0 5px #CC5819,
                0 0 20px #CC5819,
                0 0 60px #CC5819;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #c79242;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media screen and (max-width: 960px) {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 50%);
    opacity: 1;
    border-radius: 50px;
    background-color: #CC5819;
  }
}

@media (max-width: 768px) {
  .preulympic-req-page {
    width: 80%;
  }

  .preulympic-req-group {
    input {
      width: 100%;
      font-size: 1rem;
    }
    .preulympic-req-error-message {
      font-size: 1rem;
    }
  }
}