@use "../../../index" as index;
@use "./Preulympic.scss" as pre;

.preulympic-registration-user {
    .resetbtn {
        background-color: #CC5819;
        color: #ccc;
        border: none;
        border-radius: 40px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 20px;
        padding-block: 10px;
        font-size: 15px;
        font-weight: bold;
        font-family: Louis George Cafe;
        
        &:hover {
            background-color: #9b3e0b;
        }
    }

    //ngilangin arrow up down input type number
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .preulympic-form-container {
        @include pre.form-background;
    }

    .preulympic-form-page {
        @include pre.form-wrapper;
        padding-right: 20px;

        .preulympic-form-logo {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background-image: url("./../../../Asset/Image/Ufest Logo/ufestlogocolor.webp");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20vh;
            height: 20vh;

            @media screen and (max-width: index.$sm) {
                position: static;
            }

            @media (max-width: 1280px) {
                // position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                padding: 10px;
                margin-top: 20px;
                opacity: 1;
            }
        }

        .preulympic-form-group {
            width: 100%;
            font-size: 10px;
            text-align: left;
            margin-left: 10vh;
            margin-bottom: 10px;

            label {
                display: block;
                font-size: 20px;
                text-align: left;

                @media screen and (max-width: index.$md) {
                    font-size: 15px !important;
                }
            }

            input {
                display: block;
                width: 30vw !important;
                max-width: 100%;
                padding: 0.5rem;
                outline: 0;
                border: 0;
                background: transparent;
                border-bottom: 1px solid #CC5819;
                font-size: 20px;


                @media screen and (max-width: index.$md) {
                    font-size: 15px !important;
                    width: 50vw !important;
                    margin-bottom: 10px;
                }

                &:focus {
                    outline: none;
                    border-color: #CC5819;
                }

                &::placeholder {
                    color: #ccc;
                    opacity: 1;
                }
            }

            @media (max-width: 768px) {
                width: 30vh;
                font-size: 10px;
                text-align: left;
                padding: 0.5rem;
                margin-left: 5vh;
                margin-bottom: -2vh;

                label {
                    font-size: 20px;
                }

                input {
                    width: 35vh;
                }
            }
        }

        .preulympic-form-image {
            width: 100%;
            font-size: 10px;
            text-align: left;
            margin-left: 10vh;
            margin-bottom: 20px;

            label {
                margin-bottom: 10px;
                display: block;
                font-size: 20px;
                text-align: left;

                @media screen and (max-width: index.$md) {
                    font-size: 15px !important;
                }
            }

            @media (max-width: 768px) {
                width: 30vh;
                font-size: 10px;
                text-align: left;
                padding: 0.5rem;
                margin-left: 5vh;
                margin-bottom: -2vh;

                label {
                    font-size: 20px;
                }

                input {
                    width: 35vh;
                }
            }
        }

        .buktijoin {
            margin-top: 10px;
            width: 100%;
            font-size: 10px;
            text-align: left;
            padding: 0.5rem;
            margin-left: 10vh;
            margin-bottom: 20px;


            @media screen and (max-width : index.$md) {
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
            }

            label {
                margin-top: 10px;
                font-size: 2em;
                text-align: left;
            }

            input {
                margin-top: 10px;
                display: block;
                width: 50vh;
                padding: 0.5rem;
                outline: 0;
                border: 0;
                background: transparent;
                font-size: 2em;

                &:focus {
                    outline: none;
                    border-color: #CC5819;
                }

                &::placeholder {
                    color: #ccc;
                    opacity: 1;
                }
            }

            @media (max-width: 768px) {
                width: 30vh;
                font-size: 10px;
                text-align: left;
                padding: 0.5rem;
                margin-left: 5vh;
                margin-bottom: -2vh;

                label {
                    font-size: 20px;
                }

                input {
                    width: 35vh;
                }
            }
        }
    }


    @media (max-width: 768px) {
        .preulympic-form-page {
            width: 80%;
        }

        .preulympic-form-group {
            input {
                width: 100%;
                font-size: 1rem;
            }

            .preulympic-form-error-message {
                font-size: 1rem;
            }
        }
    }
}