@use "src/index.scss" as index;


$primary-color: index.$yellow;
$secondary-color: rgb(159, 159, 84);
$disabled-color: #e6e6e6;
$outline: 2px dashed;


.Profile-Button {
    @include index.prevent-select;
    height: fit-content;
    // width: fit-content;
    border-radius: 50%;
    // width: auto;
    padding: 3px;
    border: none;
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    pointer-events: all;
    cursor: pointer;
    transition: 0.1s all;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        background-color: $disabled-color;
        outline: $outline $disabled-color;
        pointer-events: none;
    }
}

.Profile-Container {
    top: -40px;
    z-index: index.$z-index-7;
    transform: translateX(-500px);


}

.menu {
    color: #000000;
}

.Modal-Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: index.$white;
    height: 400px !important;
    width: 250px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none !important;
    position: absolute;
    border-radius: 40px;
    padding: 30px;


    .Title {
        @include index.center;
        display: block;
        font-family: index.$font;
        font-size: 30px;
        font-weight: bolder;
        color: index.$blue;
        text-shadow: none !important;
    }

    .Image {
        @include index.center;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 50%;
    }

    .NameDesc {
        // background-color: rgb(20, 166, 20);
        @include index.center;
        flex-direction: column;
        margin-top: 10px;
        font-family: index.$font;
        color: white;
        border-radius: 10px;
        padding: 5px;
    }

    .Desc {
        font-family: index.$font2;
        font-size: 15px;
        font-weight: bolder;
        color: index.$white;
        text-align: justify;
        text-align-last: center;
        overflow-wrap: break-word;
        word-break: break-all;
        line-height: 15px;
    }
}