@use "src/index.scss" as index;


.NavbarUser {
    @include index.prevent-select;
    position: fixed;
    top: 0;
    z-index: index.$z-index-6;
    justify-content: right;
    height: 60px;
    background: rgb(147, 101, 70);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);

    .Logo {
        width: 50px !important;
        height: 50px !important;
        background-size: cover;
        position: absolute;
        left: 0;
        background-position: center;
        @include index.prevent-select;
    }

    .active {
        color: index.$yellow;
    }





}