@use "src/index" as index;

.NavbarUser-wrap {
  @include index.prevent-select;
  position: fixed;
  top: 0;
  z-index: index.$z-index-6;
  justify-content: right;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  background: rgb(178, 138, 103);
  background: -moz-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
  background: linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b28a67", endColorstr="#926445", GradientType=1);
}