@use "src/index" as index;

#Login {
    @include index.background("./../../../Asset/Image/Background/Homebg.webp");
    @include index.center;
    background-attachment: local;
    height: 120%;
    min-height: 100vh;
    overflow: hidden;


    .form {
        @include index.form-layout("./../../../Asset/Image/OtherIcon/paperfull.webp");


        @media screen and (max-width: index.$sm) {
            height: auto;
            width: 70%;
            margin: 0px;
            padding: 10px;
        }



        .Title {
            @include index.prevent-select;
            font-weight: bold;
            font-size: 50px;
            color: index.$yellow;
            display: block;
            margin: 0;
            margin-top: 20px;
            font-family: index.$font;

            @media screen and (max-width: index.$sm) {
                font-size: 36px;
            }
        }

        .Subtitle {
            @include index.prevent-select;
            font-family: index.$font2;
            color: index.$blue;
            margin: 10px;
            margin-bottom: 10px;
            display: block;

            @media screen and (max-width: index.$sm) {
                font-size: 12px;
            }
        }



        .Checkbox-Section {
            margin-top: 20px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 10px;

            @media screen and (max-width: index.$sm) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .Divider {
            @include index.prevent-select;
            margin-top: 10px;
            margin-bottom: 30px;
        }

    }

}

.input:-webkit-autofill {
    background-color: rgb(0, 0, 0, 0);
}