.thankyou {
    pointer-events: all;
    cursor: pointer;

    .heart {
        background-size: cover;
        object-fit: cover;
        height: 100px;
        width: 100px;
        // filter: grayscale(1);
        transition: all 0.3s ease-in-out;
        pointer-events: all;
        will-change: transform;
        user-select: none;
        -webkit-user-drag: none;
        user-select: none;
    }


    .heartface {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        float: left;
        width: 2px;
        height: 200px;
        background-color: rgb(0, 0, 0);
    }
}


.Heart-Face {
    transform: translate(-0px, -50px);
}