#NavbarDesktop {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  background: rgba(255, 244, 236, 1);

  .Logo {
    aspect-ratio: 1/1;
    width: 94px;
    flex-shrink: 0;

  }

  .navbarNavigationButtonContainer {
    display: flex;
    gap: 40px;
    padding-inline: 40px;
  }

  .button {
    background: none;
    border: none;
    cursor: pointer;
    color: #5B618E;
    font-family: Rocket-Vintage, serif;
    font-size: 40px;
    font-style: normal !important;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}


#NavbarMobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background-color: #fff4ec;

  .Logo {
    aspect-ratio: 1/1;
    width: 54px;
    flex-shrink: 0;
  }

  .button {
    width: 54px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    span {
      width: 26px;
      border: 2px solid black;
      border-radius: 10px;
    }
  }


  .Backdrop {
    position: absolute;
    top: 58px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    display: none;

    &.open {
      display: block !important;
    }

    #Dropdown {
      border: none;
      position: fixed;
      top: 57px;
      right: 0;
      width: 50%;
      height: 100vh;
      background-color: #fff4ec;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;

      .buttonNav {
        width: 70%;
        background: none;
        border: none;
        cursor: pointer;
        color: #5B618E;
        font-family: Rocket-Vintage, serif;
        font-size: 20px;
        font-style: normal !important;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        display: flex;
        justify-content: space-between;

        svg {
          width: 20px;
          margin-right: 10px;
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

#safe-zone {
  height: 58px;
}