@use "src/index" as index;

.HomeButton {
    @include index.center;
    @include index.prevent-select;
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: index.$z-index-2;
    height: 250px;
    width: 400px;
    // border: 1px solid red;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    transition: 0.5s;

    @media screen and (max-width: index.$md) {

        height: 125px;
        width: 400px;
    }

    .background {
        @include index.center;
        @include index.prevent-select;
        position: absolute;
        background-repeat: no-repeat;
        z-index: index.$z-index-3;
        width: 400px;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        transition: 250ms;

        @media screen and (max-width: index.$sm) {
            width: 300px;
            height: 200px;
            transform: translateY(-25px);
        }
    }

    .front {
        // @include index.goldgrad;
        color: index.$white;
        @include index.center;
        text-align: center;
        text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.5);
        font-family: index.$font;
        font-size: 27px;
        transform: scale(1.4) translateX(5px);
        position: absolute;
        z-index: index.$z-index-4;
        width: 200px;
        margin: auto;
        left: 0;
        right: 0;
        pointer-events: none;

        @media screen and (max-width: index.$sm) {
            font-size: 27.1px;
            width: 300px;
            transform: translateY(-25px);

        }
    }

}

.HomeButton:hover {
    transform: scale(1.1);
}