.NavbarAdminDesktop {
  overflow: hidden;
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: right;
  height: 50px;
  width: 100%;

  .NavbarMenu {
    height: 100px;
    transition: 250ms;
    margin: 10px;
  }

  .NavbarMenu:hover {
    border-bottom: 10px solid white;
  }
}

.NavbarAdminMobile {
  opacity: 0;
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: right;

  .NavbarGrid {
    .NavbarGridItem {
      display: flex;
      text-align: end;
      border: 1px solid white;
      color: aliceblue;
      font-size: 40px;
    }

  }

}