@use "src/index" as index;

.join {
  @include index.background("./../../../Asset/Image/Background/Homebg.webp");
  @include index.center;
  background-attachment: local;
  height: 120%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 10vh;
  padding-bottom: 10vh;

  .progress-bar {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    width: 23vw;
    height: 20vh;
  }

  .form {
    @include index.form-layout("./../../../Asset/Image/OtherIcon/paperfull.webp");
    height: fit-content;

    @media screen and (max-width: index.$md) {
      height: auto;
      width: 70%;
      margin: 0;
      padding: 10px;
    }


    .JoinTitle {
      @include index.prevent-select;
      font-weight: bold;
      font-size: 50px;
      color: index.$yellow;
      display: block;
      margin: 20px 0 0;
      font-family: index.$font;

      @media screen and (max-width: index.$sm) {
        font-size: 26px;
      }
    }


    .Button-Bottom {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center;

      button {
        background-color: index.$blue;
        border: none;
        color: index.$white;
      }

    }


    .textarea {
      margin-bottom: 80px;
    }

    .Wrapper {
      padding: 15px;
      border-radius: 5px;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style: circle inside;
    }

    .TextLabel {
      opacity: 0.7;
      margin: 0;
      text-align: left;
    }

    .inp_option {
      text-align: left;
      background: #f2f2f2;
      border-radius: 5px;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      font-family: index.$font2;
      width: 100%;

    }

    .textfillheart {
      @include index.prevent-select;
      animation: textfillheart 2s infinite ease-in-out alternate-reverse;
      will-change: transfrom;
    }

    @keyframes textfillheart {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.1);
      }
    }

    p.error {
      margin-top: 10px;
      margin-bottom: 5px;
      height: 20px;
      text-align: left;
      font-size: 10px;
      color: rgb(178, 26, 26);
      user-select: none;
    }

    .Img-Placeholder {
      max-width: 50px;
      max-height: 50px;
    }

    .join-closed-content {
      font-family: index.$font;
      color: index.$yellow;
      text-shadow: index.$text-shadow;
      font-size: 25px;
    }
  }
}