@use "./../../../../../index.scss" as index;

.input {
    color: transparent;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        margin-top: 10px;
        content: "Choose File";
        display: block;
        width: 120px !important;
        text-align: center;
        max-width: 100%;
        padding: 10px;
        outline: 0;
        border: 0;
        background: rgba(255, 255, 255, 1);
        font-size: 20px;
        border: 1px solid #CC5819;
        border-radius: 40px;
        color: rgba(144, 53, 4, 1);
        padding: 5px 20px 5px 20px;

        @media screen and (max-width: index.$md) {
            font-size: 12px !important;
            width: 20vw !important;
            margin-bottom: 10px;
        }

        &:focus {
            outline: none;
            border-color: #CC5819;
        }

        &::placeholder {
            color: #ccc;
            opacity: 1;
        }
    }
}