@use "src/index" as index;

#ComingSoon {

    @include index.center;
    height: 100vh;
    min-height: 100vh;
    padding-top: 20px;
    position: relative;
    overflow: hidden;

    &::after {
        filter: brightness(0.8) contrast(80%);
        content: "";

        background-image: url("./../../../Asset/Image/Background/Homebg.webp");
        position: absolute;
        // z-index: 7;
        top: 0;
        height: 100%;
        width: 100%;
    }


    .Wrapper {
        @include index.center;
        background-image: url("./../../../Asset/Image/OtherIcon/Button.webp");
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 200px;
        transform: scale(1.4);
        z-index: index.$z-index-4;

        .Content {
            color: index.$yellow;
            text-align: center;
            text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.5);
            font-family: index.$font;
            font-size: 24px;
            pointer-events: none;

            @media screen and (max-width: index.$sm) {
                width: 60%;
                height: auto;
                width: 100%;
                margin-inline: 20px;
            }

        }
    }

}