// cursor


* {
    cursor: default;

    @media screen and (min-width: 740px) {
        cursor: url("/Asset/Image/cursor.png"), pointer !important;
    }

}

* {

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}



@font-face {
    font-family: 'Rocket-Vintage';
    src:
        url("/Asset/Font/Rocket\ Vintage.ttf") format('truetype'),
        url("/Asset/Font/Rocket\ Vintage.otf") format('opentype'),
        url("/Asset/Font/Rocket\ Vintage.woff") format('woff'),
        url("/Asset/Font/Rocket\ Vintage.woff2") format('woff2'),
        url("/Asset/Font/Rocket\ Vintage.eot") format('embedded-opentype'),
        url("/Asset/Font/Rocket\ Vintage.svg") format('svg'),
}

@font-face {
    font-family: 'Louis George Cafe';
    src:
        url("/Asset/Font/Louis\ George\ Cafe.ttf") format('truetype'),
        url("/Asset/Font/Louis\ George\ Cafe.otf") format('opentype'),
        url("/Asset/Font/Louis\ George\ Cafe.woff") format('woff'),
        url("/Asset/Font/Louis\ George\ Cafe.woff2") format('woff2'),
        url("/Asset/Font/Louis\ George\ Cafe.eot") format('embedded-opentype'),
        url("/Asset/Font/Louis\ George\ Cafe.svg") format('svg'),
}

$font: 'Rocket-Vintage' !important;
$font2: 'Louis George Cafe' !important;

// COLOR SCHEME
$yellow: #f5d63f;
$red: #c62430;
$blue: #145075;
$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$purple: rgb(181, 21, 255);

@mixin orangegrad {
    background: rgb(245, 205, 51);
    background: -moz-linear-gradient(180deg, rgba(245, 205, 51, 1) 0%, rgba(252, 159, 50, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(245, 205, 51, 1) 0%, rgba(252, 159, 50, 1) 100%);
    background: linear-gradient(180deg, rgba(245, 205, 51, 1) 0%, rgba(252, 159, 50, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5cd33", endColorstr="#fc9f32", GradientType=1);
}

@mixin browngrad {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 10, 11, 1) 20%, rgba(41, 10, 11, 1) 80%, rgba(51, 22, 9, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 10, 11, 1) 20%, rgba(41, 10, 11, 1) 80%, rgba(51, 22, 9, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 10, 11, 1) 20%, rgba(41, 10, 11, 1) 80%, rgba(51, 22, 9, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#331609", GradientType=1);
}

@mixin goldgrad {
    background: rgb(176, 114, 21);
    background: -moz-linear-gradient(90deg, rgba(176, 114, 21, 1) 0%, rgba(245, 214, 63, 1) 5%, rgba(255, 241, 173, 1) 20%, rgba(245, 214, 63, 1) 35%, rgba(255, 198, 113) 50%, rgba(255, 198, 113) 65%, rgba(245, 214, 63, 1) 70%, rgba(255, 241, 173, 1) 80%, rgba(245, 214, 63, 1) 95%, rgba(245, 172, 63, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(176, 114, 21, 1) 0%, rgba(245, 214, 63, 1) 5%, rgba(255, 241, 173, 1) 20%, rgba(245, 214, 63, 1) 35%, rgba(255, 198, 113) 50%, rgb(255, 198, 113) 65%, rgba(245, 214, 63, 1) 70%, rgba(255, 241, 173, 1) 80%, rgba(245, 214, 63, 1) 95%, rgba(245, 172, 63, 1) 100%);
    background: linear-gradient(90deg, rgba(176, 114, 21, 1) 0%, rgba(245, 214, 63, 1) 5%, rgba(255, 241, 173, 1) 20%, rgba(245, 214, 63, 1) 35%, rgba(255, 198, 113) 50%, rgba(255, 198, 113) 65%, rgba(245, 214, 63, 1) 70%, rgba(255, 241, 173, 1) 80%, rgba(245, 214, 63, 1) 95%, rgba(245, 172, 63, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b07215", endColorstr="#f5ac3f", GradientType=1);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Media Queries
$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;


// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;

// form layout
$form-width: 360px;



// text shadow
$text-shadow: 2px 3px 9px rgba(0, 0, 0, 1);

// Background
@mixin background ($background_image) {
    background-attachment: fixed;
    background-image: url($background_image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin image ($image_url) {
    background-image: url($image_url);
    background-size: cover;
    background-position: center;
}


// full screen
@mixin full-screen {
    width: 100vw;
    height: 100vh;
}


// prevent selection
@mixin prevent-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.prevent-select {
    @include prevent-select;
}

// Scrollbar

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: 0.5s;
    background: $yellow;
    will-change: background;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $yellow;
}

// Gradient Text

@mixin GradientText {
    position: absolute;
    left: 25px;
    top: 10px;
    font-weight: 400;
    font-size: 30px;
    font-family: Rocket-Vintage;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, rgb(30, 64, 255), rgb(199, 17, 175), red);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 0;
}

// Modal Container
@mixin modalcontainer {
    @include orangegrad();
    height: 400px !important;
    width: 250px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none !important;
    position: absolute;
    border-radius: 40px;
    padding: 30px;
}

// layout
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.center {
    @include center();

}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

.space-between {
    @include space-between();

}


// form layout
@mixin form-layout($url) {
    width: $form-width;
    font-family: $font2;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    // margin: 10px auto 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 15px;
    text-align: center;
    padding-inline: 40px;
    overflow: visible;


    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0% !important;
        right: 0% !important;
        margin: auto;
        overflow: hidden !important;
        z-index: -1;
        transform: scaleX(2) scaleY(2) translateX(-3px);
        transform-origin: center center;
        content: '';
        width: 250px !important;
        height: 300px;
        background-image: url($url) !important;
        background-position: center center;
        background-size: 150%;
        overflow: visible;
        background-repeat: no-repeat;

        @media screen and (max-width: $sm) {
            // transform: scaleX(1.5) scaleY(1.9);
            transform: scaleX(1.8) scaleY(2.3);
        }

        @media screen and (max-width: 500px) {
            transform: scaleX(1.6) scaleY(2.3);
        }


        @media screen and (min-width: $xs) and (max-width: 334px) {
            transform: scaleX(1.3) scaleY(2.3);
            width: 220px !important;
        }

    }

}


.error {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 13px;
    color: rgb(137, 0, 0);
    height: 0px;
    user-select: none;
    font-family: $font2;
    font-weight: 400;
}


// Underline Animation
@mixin underline($background-color: $yellow) {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $background-color;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.45s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}

// Ripple effect
@mixin ripple {
    border-radius: 20px;
    animation: ripple 2s infinite !important;

    @media screen and (max-width: $sm) {
        animation: none !important;
    }
}

@keyframes ripple {
    $color: rgba(216, 216, 216, 0.5);
    $color2: rgb(255, 255, 255, 0);
    $color3: rgb(255, 255, 255, 0);

    0% {
        box-shadow:
            0 0 0 0px $color,
            0 0 0 0px $color,
            0 0 0 0px $color,
            0 0 0 0px $color,
            0 0 0 0px $color,
            0 0 0 0px $color,
            0 0 0 0px $color,
            0 0 0 0px $color;
    }

    100% {
        box-shadow:
            0 0 0 5px $color3,
            0 0 0 7px $color2,
            0 0 0 10px $color3,
            0 0 0 12px $color2,
            0 0 0 20px $color3,
            0 0 0 22px $color2,
            0 0 0 35px $color3,
            0 0 0 37px $color2;
    }

}

.ripple {
    @include ripple;
}



@mixin animatesvg {
    position: absolute;
    height: 700px;
    width: 800px;

    .text-path {
        display: block;
        fill-opacity: 0;
        // fill: $yellow;
        fill-opacity: 0;
        stroke: url(#gradation-1);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #d2b;
        stroke-width: 3px;
    }

    .text-path {
        stroke-width: 3px;
        $nth: 1;
        $delay: 0;
        will-change: stroke-dashoffset, stroke-dasharray, stroke, fill-opacity, filter, box-shadow, transform;

        @while $nth <30 {
            &:nth-child(#{$nth}) {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                animation: dash1 2.0s linear forwards;
                animation-delay:#{$delay}s;
                stroke-dasharray: 800;
                stroke-dashoffset: 800;
                filter: url(#shadow);

            }

            $nth: $nth+1;
            $delay: $delay+0.05;
        }

        // $nth: 11;
        // $delay: 0;
    }

    @keyframes dash1 {
        0% {
            stroke-dashoffset: 800;
            stroke-width: 3px;
        }

        50% {
            stroke-dashoffset: 1600;
            stroke-width: 0.1px;
        }

        50.1% {
            stroke-dashoffset: 800;
        }

        80% {
            stroke-width: 2px;
            fill: #d2b;
            fill-opacity: 0;
        }

        100% {
            stroke-dashoffset: 0;
            stroke: $blue;
            stroke-width: 0.5;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            fill: $yellow;
            fill-opacity: 1;
            stroke-dasharray: 400;
        }
    }

    @keyframes dash1_en {
        0% {
            stroke-dashoffset: 200;
            stroke-width: 2px;
        }

        50% {
            stroke-dashoffset: 400;
            stroke-width: 0.1px;
        }

        50.1% {
            stroke-dashoffset: 200;
        }

        80% {
            stroke-width: 1px;
            fill: #d2b;
            fill-opacity: 0;
        }

        100% {
            stroke-dashoffset: 0;
            stroke: $blue;
            stroke-width: 0.5;
            fill: $yellow;
            fill-opacity: 1;
        }
    }
}

// font styling instant
.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.purple {
    color: $yellow;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

// font styling

.index {
    position: relative;
}

// divider

.divider {
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    @media screen and (max-width: $sm) {
        background-color: rgba(255, 255, 255, 0.3);
        top: 100%;
        width: 70%;
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}