@use "src/index" as index;


.home {
    @include index.center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height: 670px;
    min-height: 100vh;
    padding-bottom: 10vh;
    overflow: hidden;
    background: rgb(0, 0, 0);


    &::before {
        @include index.prevent-select;
        pointer-events: none;
        filter: brightness(0.8) contrast(80%);
        background-image: url('./../../../Asset/Image/Background/Homebg.webp');
        background-size: cover;
        background-position: top;
        background-attachment: local;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: index.$black;
        opacity: 0;
        animation: enteringbg 0.3s ease-in forwards;
        animation-delay: 2.2s;

        @keyframes enteringbg {
            to {
                opacity: 1;
            }
        }
    }


    h1 {
        font-size: 100px;
        font-weight: bolder;
        color: index.$black;
    }

    .home-image {
        background-image: url('./../../../Asset/Image/Ufest Logo/ufestlogocolor.webp');
        background-size: cover;
        background-position: center;
        @include index.prevent-select;
        height: 300px;
        width: 300px;
        background-size: 130%;
        transform-origin: center 0;
        z-index: 1;
        -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    }

    @media screen and (max-width: index.$sm) {
        .home-image {
            height: 350px;
            width: 350px;
        }
    }

    .heading {
        @include index.prevent-select;
        font-family: index.$font;
        color: index.$yellow;
        text-shadow: index.$text-shadow;
        width: auto;
        height: 45px;
        overflow: hidden;
        margin: 20px;
        margin-top: 50px;
        z-index: index.$z-index-4;
        pointer-events: none;
        font-size: 50px;
        font-weight: bold;

    }

    @media screen and (max-width: index.$sm) {
        .heading {
            font-size: 40px;
            // height: 40px;

        }
    }

    .pilar {
        position: absolute;
        width: 80vh;
        height: 110vh;
        bottom: 0px;
        transform: scale(1.25) !important;
        -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0));
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0));
        z-index: index.$z-index-3;

        &.left {
            @include index.image('./../../../Asset/Image/Background/pilarLeft.webp');
            left: -192px;
        }

        &.right {
            @include index.image('./../../../Asset/Image/Background/pilarRight.webp');
            right: -192px;
        }
    }
}