name: Build and Deploy to Pages

on:
  push:
    branches:
      - main # Or whichever branch you want to trigger the action on

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.5.2
      - name: Use Node.js 16.x
          uses: actions/setup-node@v2.4.1
        with:
          node-version: '16.x'
      - name: Install dependencies
        run: npm install
      - name: Build for production
        run: npm run build
      - name: Push to Pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          publish_branch: pages


