@use "src/index.scss" as index;

.About-Card {
  @include index.prevent-select;
  @include index.center;
  display: block;
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  position: relative;
  margin-inline: 30px;
  padding: 15px;
  padding-top: 60px;
  border-radius: 36px;
  max-width: 500px;
  min-height: 30vh;
  position: relative;

  &::after {
    filter: brightness(70%);
    position: absolute;
    content: "";
    z-index: -1;
    transform: scale(1.5, 1);
    background: url(./../../../../Asset/Image/OtherIcon/paperfull.webp);
    background-position: center;
    background-size: cover;
    overflow: visible;
    border-radius: 36px;
    width: 100%;
    max-width: 90vh;
    min-height: 100vh;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transform-origin: center center;
  }

  .Title {
    color: index.$yellow;
    height: 10px !important;
    font-family: index.$font;
    font-size: 40px !important;
    text-shadow: 2px 0px 9px rgba(0, 0, 0, 1);
    margin-bottom: 25px !important;
  }

  .Image {
    margin: auto;
    position: absolute;
    top: -91px !important;
    left: 0%;
    right: 0%;
    width: 144px;
    height: 144px;
    border-radius: 10px;
    object-fit: cover;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 50%;
  }

  .Desc {
    @include index.prevent-select;
    font-family: index.$font2;
    font-size: 17px;
    font-weight: bolder;
    color: index.$white;
    color: rgb(255, 248, 240);
    text-align: justify;
    text-align-last: center;
    overflow-wrap: break-word;
    line-height: 18px;
    hyphens: auto;

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }

    .quo {
      color: index.$yellow;
      font-size: 17px;
    }
  }
}

.Modal {
  @include index.modalcontainer;

  .Title {
    @include index.center;
    font-family: index.$font;
    font-size: 20px;
    font-weight: bolder;
    color: index.$yellow;
    text-shadow: 2px 0px 9px rgba(0, 0, 0, 1);
    margin: 10px;
  }
}